body {
    margin-top: 3.5rem;
}

.backimg {
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
}

.img1 {
    background-image: url(img/lessiveico.jpg);
}

.card {
    margin-bottom: 0.5rem;
}
